<div class="main-container" @page-animation>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <div>
          <span class="mat-headline">Angular Canvas</span>
        </div>
      </mat-card-header>
      <mat-card-content>
        <app-floating-dots></app-floating-dots>
        <app-circulating-pixels></app-circulating-pixels>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Instructions</div>
      </mat-card-header>
      <mat-card-content>
        <div>
          <ul>
            <li>To experience the proper interactivity with the canvas. Please, use a desktop browser.</li>
            <li>To view the actual interactivity move your mouse cursor over the canvases.</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Notes</div>
      </mat-card-header>
      <mat-card-content>
        <div>
          Made by
          <a id="links" href="https://pmithunish.com" target="_blank" rel="noopener">Mithunish Prabhakarn</a> from India. Both canvas pieces were inspired from youtube tutorials on HTML5 canvas by
          <a id="links" href="https://www.youtube.com/channel/UC9Yp2yz6-pwhQuPlIDV_mjA" target="_blank" rel="noopener">Chris Courses</a>.
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://www.youtube.com/channel/UC9Yp2yz6-pwhQuPlIDV_mjA" target="_blank" rel="noopener" mat-button color="accent">Chris Courses Channel!</a>
        <a href="https://pmithunish.com" target="_blank" rel="noopener" mat-button color="primary">Check My Website!</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="mat-headline">You love caffeine☕? I like caffeine☕ too!</div>
      </mat-card-header>
      <mat-card-actions>
        <a href="https://paypal.me/Mithunish/2.49usd" target="_blank" rel="noopener" mat-button color="accent">Buy Mithunish a caffeinated drink!</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
